server:
  port: 8080

spring:
  application:
    name: meeting-scheduler-backend
  
  datasource:
    url: jdbc:postgresql://aws-0-ap-south-1.pooler.supabase.com:6543/postgres?prepareThreshold=0&sslmode=require&pgBouncer=true
    username: postgres.cgkoddhokpepfxaggwrp
    password: Lc7Y18XV01cgzmBa
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5
      minimum-idle: 1
    
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        
  security:
    jwt:
      secret: ${JWT_SECRET:mySecretKey}
      expiration: 86400000 # 24 hours

logging:
  level:
    com.meetingscheduler: DEBUG
    org.springframework.security: DEBUG
